body {
    background-color:rgb(202, 240, 248);
  }
  ​
  .heading {
    background-color: rgb(144, 224, 239);
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
  }
  ​
  .title {
    background-color: rgb(0, 180, 216);
    padding: 5px;
    color: white;
  }
  ​
  #runtime {
    background-color: rgb(0, 180, 216);
    color: black ;
    padding: 0px 0px 5px 5px;
  }
  ​
  .content {
    color: #3e8fde;
    text-align:center;
  }
  ​
  #subtitle {
    color: rgb(3, 4, 94);
    text-align:center ;
  }
  ​
  #showing {
    margin-left: 20px;
    
  }
  .description{
    padding-bottom: 20px;
  }
  ​
  #films li::before {
    content: "";
  }
  ​
  .film {
    font-size: 16px;
    text-transform: uppercase;
  }
  ​
  .sold-out {
    color: lightgray;
  }
  ​
  img {
    
    height: 80px;
    width: 80px;
    position: relative;
    margin-left: 300px;
    border: 3px solid rgb(3, 4, 94);
    
  }
  ​
  #film-info {
    padding-bottom: 15px;
  }
  #infobox {
   
   font-size: 20px;
   background-color: azure;
   
   
   
  }
  #buy-ticket{
    font-size: 30px;
    background-color: aqua;
    cursor:cell;
  }
  li{
    font-size: 20px;
    color: blueviolet;
  }
  